<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Indústrias Wayne</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  <div class="login-container">
    <h1>Login</h1>
    <form id="loginForm">
      <label for="email">Email:</label>
      <input type="text" id="email" required>
      <label for="password">Senha:</label>
      <input type="password" id="password" required>
      <button type="submit">Entrar</button>
    </form>
    <p id="errorMessage" class="error-message"></p>
  </div>

  <footer>
    <div class="titl">
      <span>Sobre as Indústrias Wayne</span>
    </div>
    <hr>
    <div class="desc">
      <span>
        Indústrias Wayne é uma empresa de tecnologia de ponta que atua na segurança e inovação de Gotham City.
        Estamos sempre em busca de soluções que protejam a cidade e melhorem a qualidade de vida dos cidadãos.
      </span>
    </div>
  </footer>

  <script src="/static/js/auth.js"></script>
</body>
</html>